*{
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(229, 213, 243);
}

.App {
  background-color: aliceblue;
  width: 550px;
  height: auto;
  margin: 30px auto 0 auto;
  border-radius: 10px;
  padding-bottom: .1px;
}

.header {
  background: linear-gradient(90deg, #6c079a 1.18%, #A626D3 100%);
  height: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  border-radius: 10px 10px 0 0;
}

.header > p {
  margin-left: auto;
  padding-right: 15px;
}

.logo {
  width:50px;
  height:auto;
  border-radius: 50%;
  margin: 15px;
}

.form{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 50px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;

}

.form--input{
  border-radius: 5px;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #6c079a 1.18%, #A626D3 100%);
  color: white;
  cursor: pointer;
}

.xin {
  width: 450px;
  margin: 0 50px -30px;
  cursor: pointer;
  
}

.image:hover {
  filter: brightness(0.5);
  /* opacity: .5; */
}

.information {
  margin: 50px;
}